.chips
	background: url(../img/our-chips/bg.png) no-repeat 100% 0%
	&__title
		h2
			color: #000000
			font-family: "Gilroy"
			font-size: 45px
			font-weight: 800
			text-transform: uppercase
			letter-spacing: 2.25px
	&__content
		display: flex
		flex-direction: row
		justify-content: space-between
	&__items
		display: flex
		flex-direction: row
	&__item
		&-title
			h3
				color: #141414
				font-family: "Gilroy"
				font-size: 18px
				font-weight: 800
				line-height: 28px
				letter-spacing: 0.9px
		&-text
			p
				color: #141414
				font-family: Gilroy
				font-size: 18px
				font-weight: 300
				line-height: 28px
				letter-spacing: 0.9px
