.situation
	background: url(../img/situations/bg.png) no-repeat 50% 0%
	background-size: cover
	&__title
		color: #000000
		font-family: "Gilroy"
		font-size: 35px
		font-weight: 300
		text-transform: uppercase
		letter-spacing: 2.25px
	&__blocks
		display: flex
		flex-direction: column
		align-items: space-between
	&__block
		margin-top: 86px
		display: flex
		flex-direction: row
	&__text
		margin-top: 95px
		width: 352px
		p
			color: #1b1b1b
			font-family: Gilroy
			font-size: 18px
			font-weight: 300
			line-height: 28px
			letter-spacing: 0.9px
		&:nth-child(odd)
			margin-left: 42px
	&__decor
		margin-top: 274px

