section.feedback
	.container
		.feedback__title
			h2 Отзывы студентов
		.feedback__slider
			.feedback__block
				.feedback__photo
					img(src="img/feedback/photo-1.jpg" alt="Красивая женщина разговаривающая по телефону")
				.feedback__text
					.sfeedback__text-name
						h3 Александра Иванова
					.feedback__text-descr
						p Курс прошел незаметно и оставил после себя только хорошие воспоминания. Нашу группу на постоянной основе вела Алла, Настя и Женя приходили к нам для нарабатывания практики общения. Неделю назад были с мужем в Лондоне - хоть люди разные и речь у всех разная, но было так легко и спокойно! Мы ни разу не заблудились, в аэропорту меня водила за собой пожилая пара в качестве переводчика. Спасибо вам, это было очень полезно!
					.feedback__text-contact-link
						a(href="https://vk.com/") Вконтакте



