section.feedback
	.container
		.feedback__title
			h2 Отзывы студентов
		.feedback__slider
			.feedback__block
				.feedback__photo
					img(src="img/feedback/photo-1.jpg" alt="Красивая женщина разговаривающая по телефону")
				.feedback__text
					.feedback__text-name
						h3 Александра Иванова
					.feedback__text-descr
						p Курс прошел незаметно и оставил после себя только хорошие воспоминания. Нашу группу на постоянной основе вела Алла, Настя и Женя приходили к нам для нарабатывания практики общения. Неделю назад были с мужем в Лондоне - хоть люди разные и речь у всех разная, но было так легко и спокойно! Мы ни разу не заблудились, в аэропорту меня водила за собой пожилая пара в качестве переводчика. Спасибо вам, это было очень полезно!
					.feedback__text-contact-link
						a(href="https://vk.com/") Вконтакте
			.feedback__block
				.feedback__photo
					img(src="img/feedback/photo-2.jpg" alt="Мужчина в очках на фоне лемных гор")
				.feedback__text
					.feedback__text-name
						h3 Андрей Лагутов
					.feedback__text-descr
						p Курс прошел просто замечательно!!! Предподаватели просто огонь, все понятно и интересно объясняют. Курс понравился всем советую, теперь после курса я могу путешествовать без страха, уже побывал и объездил всю Англию, сейчас собираюсь в США. Не бойтесь, для вас это вклад в будущее.
					.feedback__text-contact-link
						a(href="https://vk.com/") Вконтакте
			.feedback__block
				.feedback__photo
					img(src="img/feedback/photo-3.jpg" alt="Лыйсый мужчина")
				.feedback__text
					.feedback__text-name
						h3 Николай Жаров
					.feedback__text-descr
						p С начало не думал, что это какой-то бред, но решился пойти на курсы и понял как это круто, за 21000 это просто огонь, сколько полезной информации, сколько интересностей. Учителя просто профи своего дела, если вы хотите путишествовать этот курс для вас, всем советую!!! Спасибо за возможность путишествовать по всему миру!!! 
					.feedback__text-contact-link
						a(href="https://vk.com/") Вконтакте