footer.footer
	.container
		.footer__content
			.footer__logo
				.footer__logo-img
					img(src="img/footer/logo.png" alt="Логотип Языковой школы .Yes")
				.footer__logo-text
					p Школа  Английского Языка
			.footer__contact
				.footer__contact-icons
					.footer__contact-icon
						a(href="https://vk.com/")
							img(src="img/footer/vk.svg" alt="Ссылка на наш Вконтакте")
					.footer__contact-icon
						a(href="https://www.instagram.com/")
							img(src="img/footer/insta.svg" alt="Ссылка на наш Инстаграм")
					.footer__contact-icon
						a(href="https://www.youtube.com/?gl=RU")
							img(src="img/footer/yt.svg" alt="Ссылка на наш Ютуб")
					.footer__contact-icon
						a(href="https://ok.ru/")
							img(src="img/footer/ok.svg" alt="Ссылка на наши Однокласники")
				.footer__contact-block
					.footer__contact-adress г. Москва ул. Северная, 35
					.footer__contact-phone +7 (945) 46-54-67
					.footer__contact-ordercall
						a(href="#") Заказать звонок