header.header
	.container
		.header__logo
			img(src="img/header/logo.png" alt="Логотип Языковой школы .Yes")
		.header__adress г. Москва ул. Северная, 35
		.header__phone +7 (945) 46-54-67
		.header__ordercall
			button(type="button") Заказать звонок