meta(charset="utf-8")
title Английский за 2 месяц
meta(name=`description` content=`Освойте английский для путешествий 
и научитесь объясняться в любой ситуации`)
meta(name="robots" content="index, nofollow")
meta(name="yandex" content="noyaca")
meta(name="keywords" content="Обучение английскому, Английский онлайн, Английский за 2 месяца, Английский для путешествий")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="generator" content="WordPress 4.9.7")
meta(name="author" content="Турулин Захар")
meta(name="copyright" lang="ru" content="Школа  Английского Языка Yes")
link(rel="stylesheet" href="libs/normalize.css/normalize.css")
link(rel="stylesheet" href="libs/animate.css/animate.min.css")
link(rel="stylesheet" href="libs/slick/slick.css")
link(rel="stylesheet" href="libs/slick/slick-theme.css")
link(rel="stylesheet" href="css/style.css")