doctype html
html(lang="ru")
	head
		include head.pug
	body
		include header.pug
		include main.pug
		include situation.pug
		include our-ships.pug
		include teachers.pug
		include timetable.pug
		include training.pug
		include feedback.pug
		include promoblock.pug
		include footer.pug
		include scripts.pug