section.main
	.container
		.main__promoblock
			.main__promoblock-img
				img(src="img/main/main-img.png" alt="Декоративная фотография Биг Бена")
			.main__promoblock-text
				.main__promoblock-title 
					h1 Ускоренный 
						br
						span 2-месячный курс
							br
							| английского языка
				.main__promoblock-descr 
					p Освойте английский для путешествий и научитесь объясняться в любой ситуации
				.main__promoblock-btn
					button.btn(type="button") Записаться на пробное занятие