section.chips
	.container
		.chips__title.wow.bounceInRight(data-wow-duration="2s" data-wow-delay="0.5s")
			h2 Мы предусмотрели
				br
				| эти ситуации
		.chips__content
			.chips__items
				.chips__item.wow.fadeInDown(data-wow-duration="2s" data-wow-delay="1s")
					.chips__item-title
						h3 Значение
					.chips__item-text
						p Разбираем те ситуации, с которыми сталкивается путешественник
				.chips__item.wow.fadeInDown(data-wow-duration="2s" data-wow-delay="1.5s")
					.chips__item-title
						h3 Понимание
					.chips__item-text
						p Учим объясняться сами и понимать, что говорят другие
				.chips__item.wow.fadeInDown(data-wow-duration="2s" data-wow-delay="2s")
					.chips__item-title
						h3 Практика
					.chips__item-text
						p Проводим диалоги с преподавателями и носителями языка