section.popup
	.container
		.popup-close
		.popup__title
			h2 Пробное занятие
		.poopup__text
			p Оставьте свой номер телефона и наш оператор свяжется с вами для согласования даты занятия
		.popup__form
			form(method="post" action="")
				input(type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ _ - _ _ _ _ " name="phone")
				button.btn(type="submit" name="submit") Записаться на пробное занятие