.overlay2.wow.fadeInDown(data-wow-direction="2s")
	section.popup
		.container
			.popup__close
				button.popup__close-btn(type="button") ×
			.popup__title
				h2 Заказать бесплатную консультацию
			.popup__text
				p Оставьте свой номер телефона и наш оператор свяжется с вами
			form.popup__form(method="post" action="")
				input.popup__form-phone(type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ _ - _ _ _ _ " name="phone")
				button.btn.popup__form-btn(type="submit" name="submit") Заказать бесплатную консультацию