.overlay.popup-hide
	section.popup
		.container
			.popup__close
				button.popup__close-btn(type="button") ×
			.popup__title
				h2 Пробное занятие
			.popup__text
				p Оставьте свой номер телефона и наш оператор свяжется с вами для согласования даты занятия
			form.popup__form(method="post" action="")
				input.popup__form-phone(type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ _ - _ _ _ _ " name="phone")
				button.btn.popup__form-btn(type="submit" name="submit") Записаться на пробное занятие