section.promoblock
	.container
		.promoblock__content
			.promoblock__img.wow.bounceInDown(data-wow-duration="2s" data-wow-delay="0.5s")
				img(src="../img/promoblock/img-1.png" alt="Самотлет взлетающий в облака")
			.promoblock__text
				.promoblock__text-title
					h2 Бесплатное
						br 
						| пробное занятие
				.promoblock__text-descr
					p Приходите на бесплатное первое занятие по теме “аэропорт” и ощутите пользу сразу!
				.promoblock__text-btn
					button.btn(type="btn") Записаться на пробное занятие
			

