section.promoblock
	.container
		.promoblock__text
			.promoblock__text-title
				h2 Бесплатное пробное занятие
			.promoblock__text-descr
				p Приходите на бесплатное первое занятие по теме “аэропорт” и ощутите пользу сразу!
			.promoblock__text-btn
				button.btn(type="btn") Записаться на пробное занятие
			

