section.situation
	.container
		.situation__main-title 
			h2 Бывали ли вы в подобных ситауциях
		.situation__blocks
				.situation__block
					.situation__number 01
							span .
					.situation__text
						p Вы думали, что знаете английский, но в гостинице с трудом выговариваете, какой номер вам нужен
					.situation__decor
						img(src="img/situations/situation-decorate.png" alt="Синия волнистая декоративная линия")
					.situation__photo
						img(src="img/situations/photo-1.jpg" alt="Мужчина с чеоданами, не можещий сказать номер по английски")
				.situation__block
					.situation__number 02
							span .
					.situation__photo
						img(src="img/situations/photo-2.jpg" alt="Ладонь на правой руке с компосом")
					.situation__text
						p Вы смогли спросить, до какой станции метро нужно дойти, но не поняли, куда вас отправили
				.situation__block
					.situation__number 03
							span .
					.situation__text
						p В аэропорту при любом подозрении на задрежку, вы ищите представителя, хоть как-то говоряшего по-русски
					.situation__photo
						img(src="img/situations/photo-3.jpg" alt="Мужчина в черной куртке с черным рюкзаком, в левой руке документы, он в аэропорте")
				.situation__block
					.situation__number в итоге...
					.situation__img
						img(src="img/situations/photo-4.jpg" alt="Черно-белое фото на котором изображена лежащая женщина, на переднем плане мы видим ее стопы, на заднем плане мы видим как женщина пьет")
					.situation__text
						p Все это портит впечатление от отдыха и отбивает желание посещать новые страны

