section.teachers
	.container
		.teachers__title
			h2 Кто ведет курс
		.teachers__items
			.teachers__item
				.teachers__photo
					img(src="img/teachers/photo-1.jpg" alt="Позитивная, молодая и жизнирадостная жешщина, с ней изучение английского пройдет очень интересно.")
				.teachers__name
					h3 Алла Ристовская
				.teachers__text
					p Занимается преподаванием английского языка с 2007 года. За 7 лет практики Алла занималась более чем с 80 студентами.Очень любит путешествовать: неоднократно бывала зарубежом, проходила практику в США (Нью-Йорк) и Великобритании (Лондон).
			.teachers__item
				.teachers__photo
					img(src="img/teachers/photo-2.jpg" alt="Молодая, веселая, но в тоже время серьезная девушка, учмться с ней круто.")
				.teachers__name
					h3 Анастасия Левчук
				.teachers__text
					p Закончила Алтайскую Государственную педагогическую Академию по специальности "теория и методика преподавания иностранных языков и культур".Также имеется дополнительная квалификация "переводчик в сфере профессиональной коммуникации".

			.teachers__item
				.teachers__photo
					img(src="img/teachers/photo-3.jpg" alt="Очень крутой и веселый мужчина, с ним ваш английский пройдет весело, продуктивно и не заметно.")
				.teachers__name
					h3 Евгений Пак
				.teachers__text
					p Сетифицированный специалист (диплом ОмГПУ, TTC в Кембридже, TESOL в Лондоне). Имеет богатый опыт работы на английском языке: от обучения в языковых школах до выполнения функции переводчика на различных конференциях. Более года Евгений жил в г. Сиэтл (США).
