section.timetable
	.container
		.timetable__content
			.timetable__title
				h2 Что входит в стоимость
			.timetable__text
				.timetable__text-price 21 000 рублей
				.timetable__text-descr 
					p Вы пройдете 2-месячную программу по 2 занятия в неделю, в конце каждой из которых сможете самостоятельно построить диалог
			.timetable__cols
				.timetable__blocks
					.timetable__block
						.timetable__block-title
							h3 1 неделя - аэропорт
						.timetable__block-descr
							p Вылет-прилет, регистрация, специальный и пограничный, потеря багажа, задержка рейса
					.timetable__block
						.timetable__block-title
							h3 2 неделя - дорога, трансфер
						.timetable__block-descr
							p Поиск транспорта, пункты назначения, общение с водителем (уточнения, просьбы, остановки)
					.timetable__block
						.timetable__block-title
							h3 3 неделя - гостиница, ночлег
						.timetable__block-descr
							p Поиск ночлега, бронирование, уточнение условий проживания, решение проблем с персоналом
					.timetable__block
						.timetable__block-title
							h3 4 неделя - культурный отдых
						.timetable__block-descr
							p Покупка билетов, туров, уточнение обстоятельств, потеря напарника, сопровождающего.
				.timetable__blocks
					.timetable__block
						.timetable__block-title
							h3 5 неделя - местность, поиск
						.timetable__block-descr
							p Выяснение дороги, направления,  местонахождения (собственного и необходимых мест)
					.timetable__block
						.timetable__block-title
							h3 6 неделя - магазины
						.timetable__block-descr
							p Выбор, общение с продавцами, выяснение цены, торг, покупка, возврат, случаи мошеничества
					.timetable__block
						.timetable__block-title
							h3 7 неделя - общение
						.timetable__block-descr
							p Непринужденные беседы, вопросы, просьбы о помощи, совместный обед, времяпрепровождения
					.timetable__block
						.timetable__block-title
							h3 8 неделя - неожиданности
						.timetable__block-descr
							p Разбор непредвиденных случаев (потеря документов, обращение в полицию, скорую)