section.training
	.container
		.training__title.wow.bounceInLeft(data-wow-duration="2s" data-wow-delay="0.5s")
			h2 Как все будет проходить
		.training__blocks
			.training__block.wow.bounceInLeft(data-wow-duration="2s" data-wow-delay="1s")
				.training__block-text
					.training__block-title
						h3 Простое запоминание
					.training__block-descr
						p Слова запоминаются в результате упрощенных техник и применения в спонтанных ситуациях, а не посредством зубрежки
				.training__block-photo
					img(src="img/training/photo-1.png" alt="Мужчина азиатского происхождения, пытается, что-то объяснить.")
			.training__block.wow.bounceInRight(data-wow-duration="2s" data-wow-delay="1s")
				.training__block-photo
					img(src="img/training/photo-2.jpg" alt="Несколько людей изучают английсикий играя и весело, на переднем плане веселая и смеющаяся женщина.")
				.training__block-text
					.training__block-title
						h3 Импровизация и диалоги
					.training__block-descr
						p Форма импровизации позволяет подготовиться к ситуации, когда шаблонные ответы будут неприменимы
			.training__block.wow.bounceInLeft(data-wow-duration="2s" data-wow-delay="1s")
				.training__block-text
					.training__block-title
						h3 Говорим и слушаем
					.training__block-descr
						p Прослушивание себя и профессионалов позволит научиться воспринимать чужую речь на слух
				.training__block-photo
					img(src="img/training/photo-3.jpg" alt="Сидит серьезная женщина в костюме и слушает женщину напротив нее, а также напротив нее сидит другая более веселая женщина, она также слушает, женщину рядом с собой.")
			.training__block.wow.bounceInRight(data-wow-duration="2s" data-wow-delay="1s")
				.training__block-photo
					img(src="img/training/photo-4.jpg" alt="Сидит женщина в бежевом джемпере, что-то записывает, рядом с ней сидит другая женщина в рубашке и желетке и помогает женщине в джемпере.")
				.training__block-decorate_blue-circle
					img(src="img/training/training-decorate-2.svg" alt="Ярко-синий декоративный круг")
				.training__block-text
					.training__block-title
						h3 Повторение
					.training__block-descr
						p Каждое следующее занятие включает в себя закрепление предыдущих тем и создает базу для прохождения следующих
