body
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    width: 1172px;
    margin: 0 auto;
}

.btn
{
    font-family: 'Gilroy - Extra Bold';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    padding: 27px 32px;

    letter-spacing: .9px;

    color: #fff;
    border: 0;
    border-radius: 35px;
    background-color: #f5112c;
    -webkit-box-shadow: 0 10px 18px rgba(246, 27, 60, .55);
            box-shadow: 0 10px 18px rgba(246, 27, 60, .55);
}

.btn:hover
{
    background-color: #f52934;
}

.btn:active
{
    background-color: #f52974;
}

.header__block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    padding-top: 33px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.header__contact
{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-left: 403px;

    letter-spacing: .9px;

    color: #141414;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.header__phone
{
    margin-left: 34px;
}

.header__ordercall
{
    margin-left: 43px;
}

.header__ordercall a
{
    color: #f5112c;
}

.main
{
    background: #fff url('../img/main/bg.png') no-repeat 50% 0;
    background-size: 100%;
}

.main__promoblock
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.main__promoblock-text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-top: 154px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.main__promoblock-title h1
{
    font-family: 'Gilroy - Extra Bold';
    font-size: 34px;
    font-weight: 300;

    letter-spacing: 1.7px;
    text-transform: uppercase;

    color: #000;
}

.main__promoblock-title h1 span
{
    font-size: 45px;
    font-weight: 800;

    margin-top: 14px;

    letter-spacing: 2.25px;
}

.main__promoblock-title::after
{
    display: block;

    width: 67px;
    height: 10px;
    margin-top: 30px;

    content: '';

    background-color: #f5112c;
}

.main__promoblock-descr
{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    width: 404px;
    margin-top: 24px;

    letter-spacing: .9px;

    color: #141414;
}

.situation
{
    background: url('../img/situations/bg.png') no-repeat 50% 0;
    background-size: cover;
}

.situation__title
{
    font-family: 'Gilroy';
    font-size: 35px;
    font-weight: 300;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.situation__blocks
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

.situation__number
{
    font-family: 'Gilroy';
    font-size: 48px;
    font-weight: 800;
    line-height: 28px;

    letter-spacing: 2.4px;

    color: #000;
}

.situation__number span
{
    color: #f5112c;
}

.situation__block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-top: 86px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.situation__block:nth-child(1) .situation__number
{
    -webkit-transform: translate(550px, 57px);
            transform: translate(550px, 57px);
}

.situation__block:nth-child(2) .situation__number
{
    -webkit-transform: translate(495px, 30px);
            transform: translate(495px, 30px);
}

.situation__block:nth-child(3) .situation__number
{
    -webkit-transform: translate(405px, 71px);
            transform: translate(405px, 71px);
}

.situation__block:nth-child(4) .situation__number
{
    -webkit-transform: translate(740px, 63px);
            transform: translate(740px, 63px);
}

.situation__text
{
    width: 352px;
    margin-top: 95px;
}

.situation__text p
{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    letter-spacing: .9px;

    color: #1b1b1b;
}

.situation__decor
{
    margin-top: 274px;
}

.chips
{
    padding-top: 393px;

    background: url('../img/our-chips/chips-img.png') no-repeat 100% 70%;
}

.chips__title h2
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 800;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.chips__title h2::after
{
    display: block;

    width: 67px;
    height: 10px;
    margin-top: 30px;

    content: '';

    background-color: #f5112c;
}

.chips__content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.chips__items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.chips__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.chips__item-title h3
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.chips__item-text
{
    width: 236px;
}

.chips__item-text p
{
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.teachers
{
    background: url('../img/teachers/bg.png') no-repeat center center;
}

.teachers__title
{
    margin-top: 157px;
}

.teachers__title h2
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 800;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.teachers__items
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.teachers__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 360px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.teachers__photo
{
    margin-top: 53px;
}

.teachers__name
{
    margin-top: 33px;
}

.teachers__name h3
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.teachers__text
{
    margin-top: 20px;
}

.teachers__text p
{
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    letter-spacing: .7px;

    color: #141414;
}

.timetable
{
    background: url('../img/timetable/bg.png') no-repeat 0 50%;
}

.timetable__content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: 592px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.timetable__title h2
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 800;

    display: inline-block;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.timetable__title h2::after
{
    display: block;

    width: 67px;
    height: 10px;
    margin-top: 30px;

    content: '';

    background-color: #f5112c;
}

.timetable__text-price
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 300;

    margin-top: 49px;

    letter-spacing: 2.25px;

    color: #f5112c;
}

.timetable__text-descr
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    margin-top: 20px;

    letter-spacing: .9px;

    color: #141414;
}

.timetable__blocks
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-top: 33px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.timetable__blocks:nth-child(1)
{
    margin-top: 46px;
}

.timetable__block-title h3
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.timetable__block-descr p
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.training
{
    background: url('../img/training/bg.png') no-repeat center top;
}

.training__title h2
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 800;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.training__title h2::after
{
    display: block;

    width: 67px;
    height: 10px;
    margin-top: 30px;

    content: '';

    background-color: #f5112c;
}

.training__blocks
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.training__block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-top: 84px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.training__block-title h3
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.training__block-title::before
{
    content: '';

    background: url('../img/training/arrow.svg') no-repeat 10% center;
}

.training__block-descr
{
    margin-top: 19px;
}

.training__block-descr p
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.training__block-photo
{
    margin-right: 25px;
    margin-left: 0;
}

.training__block-photo:nth-child(odd)
{
    margin-right: 0;
    margin-left: 25px;
}

.training__block-decorate_blue-circle
{
    -webkit-transform: translate(-40px, -160px);
            transform: translate(-40px, -160px);
}

.feedback
{
    padding-top: 83px;
    padding-bottom: 145px;

    background: url('../img/feedback/bg.png') no-repeat top right;
}

.feedback__title h2
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 800;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.feedback__title h2::after
{
    display: block;

    width: 67px;
    height: 10px;
    margin-top: 30px;

    content: '';

    background-color: #f5112c;
}

.feedback__block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.feedback__text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-left: 65px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.feedback__text-name h3
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.feedback__text-descr
{
    width: 752px;
}

.feedback__text-descr p
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    letter-spacing: .9px;

    color: #141414;
}

.feedback__text-contact-link a
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    letter-spacing: .9px;

    color: #f5112c;
}

.promoblock
{
    background-size: cover;
}

.promoblock__content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.promoblock__text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.promoblock__text-title h2
{
    font-family: 'Gilroy';
    font-size: 45px;
    font-weight: 800;

    letter-spacing: 2.25px;
    text-transform: uppercase;

    color: #000;
}

.promoblock__text-title::after
{
    display: block;

    width: 67px;
    height: 10px;
    margin-top: 30px;

    content: '';

    background-color: #f5112c;
}

.promoblock__text-descr
{
    width: 428px;
    margin-top: 26px;
}

.promoblock__text-descr p
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    letter-spacing: .9px;

    color: #141414;
}

.promoblock__text-btn
{
    margin-top: 56px;
}

.footer
{
    padding-top: 82px;
    padding-bottom: 128px;
}

.footer__content
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.footer__logo
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-right: 270px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.footer__logo-text p
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    letter-spacing: .9px;

    color: #141414;
}

.footer__contact-icons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    margin-bottom: 27px;

    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.footer__contact-icon
{
    margin-left: 34px;
}

.footer__contact-icon:nth-child(1)
{
    margin-left: 0;
}

.footer__contact-block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.footer__contact-adress
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    margin-right: 35px;

    letter-spacing: .9px;

    color: #141414;
}

.footer__contact-phone
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    margin-right: 29px;

    letter-spacing: .9px;

    color: #141414;
}

.footer__contact-ordercall a
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    letter-spacing: .9px;

    color: #f5112c;
}

.overlay
{
    position: fixed;
    z-index: 3;
    top: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .58);
}

.popup
{
    position: fixed;
    top: 50px;
    left: 50%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 735px;
    padding-top: 78px;
    padding-bottom: 88px;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);

    background: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup-hide
{
    display: none;
    visibility: hidden;
}

.popup-close
{
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;

    position: absolute;
    top: 29px;
    right: 29px;

    cursor: pointer;

    color: #000;
    color: #000;
}

.popup__title
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 735px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup__title h2
{
    font-family: 'Gilroy';
    font-size: 34px;
    font-weight: 800;

    margin-bottom: 0;

    text-align: center;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    text-transform: uppercase;

    color: #000;
}

.popup__text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 735px;
    margin-top: 29px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup__text p
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    width: 544px;
    margin-top: 0;

    text-align: center;
    letter-spacing: .9px;

    color: #141414;
}

.popup__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 735px;
    margin-top: 21px;
    margin-top: 21px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.popup__form-phone
{
    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;

    width: 401px;
    margin-left: 50%;
    padding-top: 27px;
    padding-bottom: 27px;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    letter-spacing: .9px;

    opacity: .34;
    color: #141414;
    border: 1px solid #bababa;
    border-radius: 35px;
}

.popup__form-btn
{
    width: 401px;
    margin-top: 14px;
    margin-left: 50%;

    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}
